---
import { Image } from 'astro:assets';
import type { Product } from '@/core/interfaces/Product.interface';

import ProductPageWhatsappButton from '../ui/buttons/ProductPageWhatsapp.button.astro';
import ProductPageOrderButton from '../ui/buttons/ProductPageOrder.button.astro';

interface Props {
  product: Product;
}

const { product } = Astro.props;
---

<article class="ProductMainSectionItem">
  <div class="ProductMainSectionItem__picture">
    <Image
      src={product.image}
      alt={product.title}
      widths={[360, 400, 600, 900]}
      sizes="(max-width: 360px) 100vw, (max-width: 640px) 100vw, (max-width: 768px) 100vw, (max-width: 1024px) 1200px"
      loading="eager"
      fetchpriority="low"
      class="ProductMainSectionItem__image"
      decoding="async"
    />
  </div>
  <div class="ProductMainSectionItem__content">
    <h3 class="ProductMainSectionItem__title">{product.title}</h3>
    <p class="ProductMainSectionItem__description xl:hidden">
      {product.shortDescription}
    </p>
    <p class="ProductMainSectionItem__description hidden xl:block">
      {product.description}
    </p>
    <p class="ProductMainSectionItem__price">$ {product.price}</p>
    <div class="ProductMainSectionItem__buttons">
      <ProductPageWhatsappButton />
      <ProductPageOrderButton />
    </div>
  </div>
</article>

<style>
  @reference: 'tailwindcss';
  .ProductMainSectionItem {
    @apply mx-auto w-full max-w-[360px] rounded-lg border border-(--secondary) p-3 md:grid md:grid-cols-1 lg:max-w-[500px] xl:relative xl:max-w-full xl:rounded-none xl:border-none xl:p-0;
  }

  .ProductMainSectionItem__picture {
    @apply overflow-hidden rounded-lg xl:rounded-none;
  }

  .ProductMainSectionItem__image {
    @apply w-full object-cover;
  }

  .ProductMainSectionItem__content {
    @apply pt-3 md:flex md:flex-col xl:absolute xl:top-0 xl:left-0 xl:h-full xl:w-full xl:translate-y-full xl:items-center xl:justify-center xl:bg-(--secondary-dark)/90 xl:p-12 xl:text-(--primary) xl:transition-all xl:duration-300;
  }

  .ProductMainSectionItem:hover .ProductMainSectionItem__content {
    @apply translate-y-0;
  }

  .ProductMainSectionItem__title {
    @apply mb-3;
  }

  .ProductMainSectionItem__description {
    @apply grow text-center font-light text-(--secondary) xl:grow-0 xl:text-(--white);
  }

  .ProductMainSectionItem__price {
    @apply text-center font-bold text-(--secondary) xl:text-(--primary);
  }

  .ProductMainSectionItem__buttons {
    @apply grid w-full grid-cols-2 gap-0 lg:max-w-[450px];
  }
</style>
