---
import { getLangFromUrl } from '@i18n/utils';
import ArcticonsRappi from '../ui/icons/ArcticonsRappi.astro';
import LogosWhatsappIcon from '../ui/icons/LogosWhatsappIcon.astro';

/* Data */
import { businessDataSpanish } from '@/core/data/business.data.es';
import { businessDataEnglish } from '@/core/data/business.data.en';

import { generateLinkWhatsapp } from '@/core/utils';

const lang = getLangFromUrl(Astro.url);

const businessData = lang === 'es' ? businessDataSpanish : businessDataEnglish;

const title =
  lang === 'es'
    ? '¡No te quedes con las ganas! "¡Tus empanadas favoritas ahora más cerca! Pídelas directamente por Rappi y recíbelas en minutos sin filas ni esperas.'
    : `Don't miss out! Your favorite empanadas are now closer than ever. Order directly on Rappi and get them in minutes—no lines, no waiting`;
const message =
  lang === 'es'
    ? 'Envío seguro y rastreable en tiempo real.'
    : 'Secure delivery with real-time tracking.';
const footerText =
  lang === 'es'
    ? 'Disfruta la misma sazón, entregada por expertos.'
    : 'Enjoy the same authentic flavor, delivered by experts.';
const callToAction = lang === 'es' ? 'Pide ya por Rappi' : 'Order via Rappi';

const whatsappText =
  lang == 'es'
    ? '¿Tienes dudas o eventos especiales? Escríbenos aquí'
    : 'Questions or catering for events? Chat with us here.';
const whatsappLink = generateLinkWhatsapp(businessData.whatsapp.message);
const titleAccesibility = lang === 'es' ? 'Abrir Rappi' : 'Open Rappi';
const titleAccesibilityWhatsapp =
  lang === 'es' ? 'Abrir WhatsApp' : 'Open WhatsApp';
---

<article class="RappiHomeSection">
  <h4 class="RappiHomeSection__title">{title}</h4>
  <p class="RappiHomeSection__message">{message}</p>
  <div class="RappiHomeSection__boxLink">
    <a
      href={businessData.rappi.url}
      target="_blank"
      rel="noopener noreferrer"
      aria-label={titleAccesibility}>
      <ArcticonsRappi class="RappiHomeSection__icon" />
      <p>{callToAction}</p>
      <span class="sr-only">
        {titleAccesibility}
      </span>
    </a>
  </div>
  <p class="RappiHomeSection__message">{footerText}</p>
  <div class="RappiHomeSection__whatsappArea">
    <p class="RappiHomeSection__message">
      {whatsappText}
    </p>
    <a
      href={whatsappLink}
      target="_blank"
      rel="noopener noreferrer"
      aria-label={titleAccesibilityWhatsapp}>
      <LogosWhatsappIcon
        class="RappiHomeSection__iconWhatsapp"
        aria-hidden="true"
        focusable="false"
      />
      <span class="sr-only">
        {titleAccesibilityWhatsapp}
      </span>
    </a>
  </div>
</article>

<style>
  @reference "tailwindcss";
  .RappiHomeSection {
    @apply text-(--light) lg:flex lg:flex-col lg:justify-center;
  }
  .RappiHomeSection__title {
    @apply mb-3 lg:text-left;
  }

  .RappiHomeSection__message {
    @apply mb-0 text-center text-(--light) italic lg:text-left;
  }
  .RappiHomeSection__icon {
    @apply h-20 w-40 lg:h-15 lg:w-20;
  }

  .RappiHomeSection__boxLink {
    @apply py-6 lg:pb-0;
  }
  .RappiHomeSection__boxLink a {
    @apply mx-auto flex w-[260px] flex-col items-center justify-center gap-0 rounded-xl border-4 border-(--rappi-color) bg-white px-16 py-3 md:mb-6 md:w-[360px] md:flex-row md:gap-x-3 md:rounded-2xl md:px-0 md:py-1;
  }

  .RappiHomeSection__boxLink a p {
    @apply m-0 text-2xl font-bold text-nowrap text-(--rappi-color) lg:text-lg;
  }

  .RappiHomeSection__whatsappArea {
    @apply flex flex-col items-center justify-center gap-3 pt-12 pb-6 md:flex-row lg:justify-items-start lg:gap-3;
  }

  .RappiHomeSection__iconWhatsapp {
    @apply h-10 w-10;
  }
</style>
