---
import { Image } from 'astro:assets';

import ProductsHomeItem from './ProductsHomeItem.astro';

import { uiMenu } from '@/i18n/ui';
import { getLangFromUrl } from '@i18n/utils';

import { empanadaSpanish } from '@data/products.data.es';
import { empanadaEnglish } from '@data/products.data.en';

const lang = getLangFromUrl(Astro.url);
const url = uiMenu[lang]['nav.products.url'];

const title =
  lang === 'es'
    ? 'Empanadas, Pastelitos, Arepas de Queso y más: Puro Sabor Criollo'
    : 'Empanadas, Pastelitos, Cheese Arepas & More: Authentic Local Flavor';
const products = lang === 'es' ? empanadaSpanish : empanadaEnglish;
const callToAction =
  lang === 'es' ? 'Ver todos los productos' : 'See all products';
---

<main class="ProductsHome">
  <div class="ProductsHome__filter"></div>
  <div class="ProductsHome__container">
    <article class="ProductsHome__article ProductsHome__article--title">
      <h2 class="ProductsHome__title">{title}</h2>
    </article>
    {
      products.map((product: any) => (
        <ProductsHomeItem
          title={product.title}
          image={product.image}
          loadingImages="lazy"
          fetchPriority="low"
        />
      ))
    }
    <div class="ProductsHome__callIoAction">
      <a
        href={url}
        class="ProductsHome__call-to-action__button"
        aria-label={callToAction}
        title={callToAction}
        >{callToAction}
        <span class="sr-only">{callToAction}</span>
      </a>
    </div>
  </div>
</main>

<style>
  @reference "tailwindcss";
  .ProductsHome {
    @apply relative bg-cover bg-fixed bg-center bg-no-repeat px-3 py-16 text-(--white) lg:px-0;
    background-image: url('/assets/images/home-products/combo-arepas-pastelitos-empanadas-tradicionales-colombianas.webp');
    background-blend-mode: overlay;
    background-opacity: 1;
  }

  .ProductsHome__filter {
    @apply absolute top-0 right-0 bottom-0 left-0 h-full w-full bg-(--primary) opacity-90;
  }

  .ProductsHome__container {
    @apply mx-auto grid w-full max-w-[1200px] grid-cols-2 2xl:gap-12;
  }

  .ProductsHome__article {
    @apply relative overflow-hidden bg-cover bg-center bg-no-repeat p-0 py-12 md:py-16 lg:py-20 xl:py-24 2xl:py-28;
    background-image: url('/assets/images/home-products/empanada-gourmet-mordisko-criollo.webp');
    background-blend-mode: overlay;
    background-opacity: 1;
  }

  .ProductsHome__article:hover .ProductsHome__image {
    @apply scale-110;
  }

  .ProductsHome__article--title {
    @apply col-span-2;
  }

  .ProductsHome__title,
  .ProductsHome__subtitle {
    @apply transform p-0 text-shadow-[0_0_2px_var(--secondary)];
  }

  .ProductsHome__title {
    @apply w-full px-2 text-xl font-bold sm:text-4xl md:text-5xl xl:text-6xl 2xl:text-7xl;
  }

  .ProductsHome__subtitle {
    @apply text-lg sm:text-3xl md:text-4xl xl:text-5xl;
  }

  .ProductsHome__image {
    @apply h-auto max-h-[80vh] w-full object-cover opacity-85 transition-all duration-300 hover:opacity-100 lg:hover:scale-110;
  }

  .ProductsHome__callIoAction {
    @apply z-10 col-span-2 flex items-center justify-center pt-6;
  }

  .ProductsHome__callIoAction a {
    @apply rounded-xl border-0 bg-(--secondary) px-4 py-2 text-(--primary);
  }
</style>
