---
interface Props {
  title: string;
  image: string;
  loadingImages?: 'eager' | 'lazy';
  fetchPriority?: 'high' | 'low';
}
const { title, image } = Astro.props;

const urlImage = 'assets/images/products/' + image;
---

<article class="ProductsHomeItem">
  <img
    src={urlImage}
    alt={title}
    width="300"
    height="300"
    class="ProductsHomeItem__image"
    loading="lazy"
    fetchpriority="low"
    decoding="async"
  />
  <!-- <Image
    src={image}
    class="ProductsHomeItem__image"
    alt={title}
    widths={[150, 300, 400, 600]}
    sizes="(max-width: 360px) 100vw, (max-width: 640px) 100vw, (max-width: 768px) 100vw, (max-width: 1024px) 1200px"
    loading={loadingImages}
    fetchpriority={fetchPriority}
    class="ProductsHomeItem__image"
    decoding="async"
  /> -->
  <h3 class="ProductsHomeItem__subtitle">{title}</h3>
</article>

<style>
  @reference "tailwindcss";
  .ProductsHomeItem {
    @apply relative overflow-hidden p-0;
  }

  .ProductsHomeItem:hover .ProductsHomeItem__image {
    @apply scale-110;
  }

  .ProductsHomeItem__subtitle {
    @apply absolute bottom-0 left-[50%] m-0 w-full translate-x-[-50%] bg-(--secondary)/40 px-3 py-2 text-base font-medium text-shadow-[0_0_2px_var(--secondary)] md:text-lg lg:py-4 lg:text-xl xl:py-6 xl:text-2xl;
  }

  .ProductsHomeItem__image {
    @apply h-auto max-h-[80vh] w-full object-cover opacity-85 transition-all duration-300 hover:opacity-100 lg:hover:scale-110;
  }
</style>
