---
import { getLangFromUrl } from '@i18n/utils';

import LogosWhatsappIcon from '../ui/icons/LogosWhatsappIcon.astro';

/* Data */
import { businessDataSpanish } from '@/core/data/business.data.es';
import { businessDataEnglish } from '@/core/data/business.data.en';

import { generateLinkWhatsapp } from '@/core/utils';

const lang = getLangFromUrl(Astro.url);

const businessData = lang === 'es' ? businessDataSpanish : businessDataEnglish;

const title =
  lang === 'es'
    ? '¡No te quedes con las ganas! Escríbenos ya y asegura tus paquetes de empanadas listos para freír. Te atendemos de una.'
    : `Don't miss out! Text us now and stock up your freezer with the best empanadas. We reply fast!`;
const message =
  lang === 'es'
    ? 'Respondemos audios y texto. Domicilios a todo el Valle de Aburrá.'
    : 'We reply to text and voice messages. Delivery throughout the Aburrá Valley';
const callToAction =
  lang === 'es' ? 'Pedir por WhatsApp' : 'Order via WhatsApp';
const whatsappLink = generateLinkWhatsapp(businessData.whatsapp.message);
const titleAccesibility = lang === 'es' ? 'Abrir WhatsApp' : 'Open WhatsApp';
---

<article class="WhatsappHomeSection">
  <h4 class="WhatsappHomeSection__title">{title}</h4>
  <p class="WhatsappHomeSection__message">{message}</p>
  <div class="WhatsappHomeSection__boxLink">
    <a
      href={whatsappLink}
      target="_blank"
      rel="noopener noreferrer"
      aria-label={titleAccesibility}
      title={titleAccesibility}>
      <LogosWhatsappIcon
        class="WhatsappHomeSection__icon"
        aria-hidden="true"
        focusable="false"
      />
      <p>{callToAction}</p>
      <span class="sr-only">
        {titleAccesibility}
      </span>
    </a>
  </div>
</article>

<style>
  @reference "tailwindcss";
  .WhatsappHomeSection {
    @apply text-(--dark) lg:flex lg:flex-col lg:justify-center;
  }
  .WhatsappHomeSection__title {
    @apply mb-3 lg:text-left;
  }

  .WhatsappHomeSection__message {
    @apply mb-0 text-center text-(--dark) italic lg:text-left;
  }
  .WhatsappHomeSection__icon {
    @apply h-20 w-20;
  }

  .WhatsappHomeSection__boxLink {
    @apply pt-6;
  }
  .WhatsappHomeSection__boxLink a {
    @apply flex flex-row items-center justify-center gap-3;
  }

  .WhatsappHomeSection__boxLink a p {
    @apply m-0 font-bold text-(--whatsapp-dark-color) underline;
  }
</style>
