---
import { Icon } from 'astro-icon/components';

import RappiIcon from '../icons/RappiIcon.astro';

/* Lang */
import { getLangFromUrl } from '@i18n/utils';

/* Data */
import { businessData } from '@/core/data/business.data';

interface Props {
  variant?: 'primary' | 'secondary';
}

const lang = getLangFromUrl(Astro.url);

const callToAction = lang === 'es' ? 'Pide Ahora    ' : 'Order Now';

const titleAccesibility = lang === 'es' ? 'Abrir Rappi' : 'Open Rappi';

const { variant = 'primary' } = Astro.props;
const classes =
  variant == 'primary' ? 'Rappi-Button--primary' : 'Rappi-Button--secondary';
---

<a
  href={businessData.rappi.url}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={titleAccesibility}
  title={titleAccesibility}>
  <div class={`Rappi-Button ${classes}`}>
    <RappiIcon />
    <p>{callToAction}</p>
    <span class="sr-only">
      {titleAccesibility}
    </span>
  </div>
</a>

<style>
  @reference "tailwindcss";
  .Rappi-Button {
    @apply flex items-center justify-center gap-2 rounded-2xl px-2 py-1 md:border-4;
  }

  .Rappi-Button p {
    @apply m-0 font-bold;
  }

  .Rappi-Button--primary {
    @apply border-(--white) bg-(--rappi-color);
  }

  .Rappi-Button--primary p,
  .Rappi-Button--primary svg {
    @apply text-(--white);
  }

  .Rappi-Button--secondary {
    @apply border-(--rappi-color) bg-(--white);
  }

  .Rappi-Button--secondary * {
    @apply text-(--rappi-color);
  }
</style>
