---
import { fade } from 'astro:transitions';

/* Components */
import Head from '@components/shared/Head.astro';
import Header from '@components/shared/Header.astro';
import Footer from '@components/shared/Footer.astro';

/* Utils */
import { getLangFromUrl } from '@i18n/utils';

/* Styles */
import '../styles/global.css';

/* Props */
interface Props {
  location: string;
  title: string;
  metaDescription: string;
  noindex?: boolean;
  nofollow?: boolean;
  schema?: Record<string, unknown>;
}

const {
  location = '/',
  title = 'Mordisko Criollo',
  metaDescription = 'Mordisko Criollo',
  noindex = false,
  nofollow = false,
  schema = null,
} = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <Head
    location={location}
    title={title}
    metaDescription={metaDescription}
    lang={lang}
    noindex={noindex}
    nofollow={nofollow}
    schema={schema}
  />
  <body>
    <Header lang={lang} />
    <slot transition:animate={fade({ duration: '1s' })} />
    <Footer />
  </body>
</html>
