---
import { fade } from 'astro:transitions';

/* Components */
import Head from '@components/shared/Head.astro';
import Header from '@components/shared/Header.astro';
import Footer from '@components/shared/Footer.astro';

/* Styles */
import '../styles/global.css';

/* Props */
interface Props {
  lang: string;
  location: string;
  title: string;
  metaDescription: string;
  noindex?: boolean;
  nofollow?: boolean;
}

const {
  location = '/',
  title = 'Mordisko Criollo',
  metaDescription = 'Mordisko Criollo',
  lang = 'es',
  noindex = false,
  nofollow = false,
} = Astro.props;
---

<!doctype html>
<Head
  location={location}
  title={title}
  metaDescription={metaDescription}
  lang={lang}
  noindex={noindex}
  nofollow={nofollow}
/>
<body>
  <Header lang={lang} />
  <slot transition:animate={fade({ duration: '1s' })} />
  <Footer lang={lang} />
</body>
