---
import { businessData } from '@/core/data/business.data';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
interface Props {
  size?: number;
  variant: 'primary' | 'secondary';
}
import { Icon } from 'astro-icon/components';
const { size = 48, variant = 'primary' } = Astro.props;
const color = variant === 'primary' ? 'text-(--primary)' : 'text-(--secondary)';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const title = t('message.facebook');
---

<a
  href={businessData.facebook.url}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={title}
  title={title}>
  <Icon
    name="tabler:brand-facebook"
    size={size}
    class={color}
    aria-hidden="true"
    focusable="false"
  />
  <span class="sr-only">
    {title}
  </span>
</a>
