---
import WhatsappLink from '@components/ui/Whatsapp.link.astro';
import FacebookLink from '@components/ui/Facebook.link.astro';
import InstagramLink from '@components/ui/Instagram.link.astro';

interface Props {
  size?: number;
  variant: 'primary' | 'secondary';
  position?: 'center' | 'end';
}

const { size = 40, variant = 'primary', position = 'end' } = Astro.props;

const positionClass = position === 'center' ? 'justify-center' : 'justify-end';
---

<div class={`SocialMedia ${positionClass}`}>
  <WhatsappLink size={size} variant={variant} />
  <FacebookLink size={size} variant={variant} />
  <InstagramLink size={size} variant={variant} />
</div>

<style>
  @reference "tailwindcss";
  .SocialMedia {
    @apply mx-auto flex w-full max-w-[400px] flex-row justify-center gap-x-3 xl:gap-x-9 2xl:gap-x-12;
  }
</style>
