---
import WhatsappLink from '@components/ui/Whatsapp.link.astro';
import FacebookLink from '@components/ui/Facebook.link.astro';
import TiktokLink from '@components/ui/Tiktok.link.astro';
import InstagramLink from '@components/ui/Instagram.link.astro';

interface Props {
  size?: number;
  variant: 'primary' | 'secondary';
}

const { size = 40, variant = 'primary' } = Astro.props;
const color = variant === 'primary' ? 'text-(--primary)' : 'text-(--secondary)';
---

<div class="SocialMedia">
  <WhatsappLink size={size} variant={variant} />
  <FacebookLink size={size} variant={variant} />
  <TiktokLink size={size} variant={variant} />
  <InstagramLink size={size} variant={variant} />
</div>

<style>
  @reference "tailwindcss";
  .SocialMedia {
    @apply flex w-full max-w-[400px] flex-row justify-center gap-x-3 lg:justify-end xl:gap-x-9 2xl:gap-x-12;
  }
</style>
